html
  head
    title tomodachi
    script(src='/main.js')
  body
    button(data-test-id='add-friend' onclick='addFriend()') Add friend
    each friend in friends
      fieldset
        legend= friend.name
        fieldset
          legend= About
          ul
          each aboutItem in friend.about
            li= aboutItem
        fieldset
          legend= "To talk about"
          ul
            each toTalkAboutItem in friend.toTalkAbout
              li= toTalkAboutItem