doctype html
html
  head
    title tomodachi
    meta(charset='utf-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    )
    script(src='/main.js')
    link(
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css'
      integrity='sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B'
      crossorigin='anonymous'
    )
    link(
      rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'
      integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU'
      crossorigin='anonymous'
    )
  body
    div(class='container-fluid')
      div(class='row justify-content-center mt-3 mb-1')
        button(
          type='button'
          class='btn btn-outline-primary btn-sm py-2'
          data-test-id='add-friend'
          onclick='addFriend()'
          style='width: 4rem;'
        ) 
          i(class='fas fa-plus mr-2')
          i(class='fas fa-user')
      div(class='row justify-content-center')
        each friend in friends
            div(class='card m-2' style='width: 18rem;')
              div(class='card-header h3')= friend.name
              div(class='card-body text-center')
                a(href='#' class='card-link')
                  i(class='fas fa-plus mr-2')
                  i(class='fas fa-info')
                a(href='#' class='card-link')
                  i(class='fas fa-plus mr-2')
                  i(class='fas fa-comment')
              ul(class='list-group list-group-flush')
                li(class='list-group-item')
                  div(class='container-fluid')
                    div(class='row')
                      div(class='col-10')
                        i(
                          class='fas fa-info-circle mr-2 text-muted'
                        )
                        span= friend.about[0]
                      div(class='col')
                        i(
                          class='fas fa-times text-muted'
                        )
                li(class='list-group-item')
                  div(class='container-fluid')
                    div(class='row')
                      div(class='col-10')
                        i(
                          class='fas fa-comment mr-2 text-muted'
                        )
                        span= friend.toTalkAbout[0]
                      div(class='col')
                        i(
                          class='fas fa-times text-muted'
                        )